{% extends 'front/front_sign_base.html' %}
{% from "common/_macros.html" import static %}

{% block title %}
    知了课堂-登录
{% endblock %}

{% block head %}

    <script src="{{ static('front/js/front_signin.js') }}"></script>

{% endblock %}


{% block h2_block %}
    登录
{% endblock %}


{% block signbox %}

    <div class="form-group">
        <input type="text" name="telephone" placeholder="手机号码" class="form-control">
    </div>

    <div class="form-group">

        <input type="password" name="password" placeholder="请输入密码" class="form-control">
    </div>

    <div class="checkbox">
        <label>
            <input type="checkbox" name="remember" value="1">记住我
        </label>
    </div>

    <div class="form-group">
        <button class="btn btn-warning btn-block" id="submit-btn">立即登录</button>
    </div>

    <div class="form-group">
        <a href="{{ url_for('front.signup') }}" class="signup-link">没有账号？立即注册</a>
        <a href="#" class="resetpwd-link" style="float: right">找回密码</a>
    </div>

{% endblock %}