{% from 'common/_macros.html' import static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>
        {% block title %}{% endblock %}
    </title>

    <script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.min.js"></script>


    <script src="{{ static('common/zlparam.js') }}"></script>

    {#对ajax的封装#}
    <script src="{{ static('common/zlajax.js') }}"></script>
    {#通用的对话框导入#}
    <link rel="stylesheet" href="{{ static('common/sweetalert/sweetalert.css') }}">
    <script src="{{ static('common/sweetalert/sweetalert.min.js') }}"></script>
    <script src="{{ static('common/sweetalert/zlalert.js') }}"></script>

    {#注册、登录共有的样式#}
    <link rel="stylesheet" href="{{ static('front/css/front_sign_base.css') }}">

    {% block head %}{% endblock %}
</head>
<body>
<div class="outer-box">
    {#对行内元素居中，直接设置父盒子的text-align#}
    <div class="logo-box">
        {#图标点击跳到首页，直接用一个/符号就行，不需要用url_for#}
        <a href="/">
            <img src="{{ static('common/images/logo.png') }}" alt="">
        </a>
    </div>
    <h2 class="page-title">
        {% block h2_block %}{% endblock %}
    </h2>

    <div class="sign-box">
        {% block signbox %}{% endblock %}
    </div>

    {#是否有上一个页面的url/是否从上一个页面跳转过来#}
    {#前台js和后台的桥梁#}
    {#写在页面哪个位置都行，因为已经隐藏了#}
    <span style="display: none" id="return-to-span">{{ return_to }}</span>

</div>

</body>
</html>