<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% include "common/_heads.html" %}
    <link rel="stylesheet" href="{{ url_for('static',filename='front/css/front_base.css') }}">

    <title>
        {% block title %}{% endblock %}
    </title>

    {% block head %}
        <script src="{{ url_for('static',filename='front/js/front_base.js') }}"></script>
    {% endblock %}
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">深圳资讯一分钟</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">首页 <span class="sr-only">(current)</span></a></li>
            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="关键字...">
                </div>
                <button type="submit" class="btn btn-default">查找</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                {% if g.front_user %}

                    {#判断是否已经登录的一种方式#}
                    {#span标签用来判断是否已经登录。如果js中能获取到这个标签，就是已经登录；否则就是没有登录的状态#}
                    <span id="login-tag" data-is-login="1" style="display: none"></span>

                    {#bootcss-组件-下拉菜单。下面替换了一些便签名【ul里面不能包含div、button标签改为a标签】#}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" type="button" id="dropdownMenu1"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {{ g.front_user.username }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#">个人中心</a></li>
                            <li><a href="#">设置</a></li>
                            <li><a href="{{ url_for('front.index',logoff=1) }}">注销</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{{ url_for('front.signin') }}">登录</a></li>
                    <li><a href="{{ url_for('front.signup') }}">注册</a></li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="main-container">
    {#真正的内容区域#}
    {% block body %}

    {% endblock %}
</div>

</body>
</html>